<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JSS ProMan</title>
    <link rel="stylesheet" href="../styles/styles.css">
</head>

<body>
    <p>User Registration</p>
    <form id="registration-form" action="#" method="post">
        <label>USN</label>
        <input type="text" placeholder="USN" required>
        <label>Name</label>
        <input type="text" placeholder="Name" required>
        <label>Branch</label>
        <input type="text" placeholder="Branch" required>
        <label>Phone</label>
        <input type="text" placeholder="+91-****" required>
        <label>Email</label>
        <input type="email" placeholder="abc@def.com">
        <label>Password</label>
        <input type="password" required>
        <input type="submit">
    </form>
</body>

</html>